<!-- <img src="/assets/beauty_of_nature-wide.jpg"> -->
<div class="upload-file-selecter">
  <%= semantic_form_for @pdf_file, url: upload_file_path do |f| %>

      <%= f.input :pdf , :as => :file %>

   <%= f.submit :submit, :class => "", :value => "Submit"%>
  <% end %>

</div>